{{ partial "header" . }}
{{ partial "navbar" . }}
{{ partial "mobilemenu" . }}
<!-- Main -->

<div class="display-none">
  {{ partial "pincta" . }}
</div>
{{ partial "applicationscta" . }}
{{ partial "logoheader" . }}

<section class="content medium-padding-bottom medium-padding-top">
  <div class="wrap mission">
    <h1
      class="blue medium-padding-bottom medium-margin-bottom">
      {{ .Params.title }}
    </h1>
    <div class="flex-row">
      <div class="flex-1">
        <h3 class="date-main blue">
          {{ .Params.moment }}
        </h3>
        <h3 class="date-main blue">
          {{ .Params.time }}
        </h3>
        <p class="medium-margin-bottom place-main">
          {{ .Params.place }}
        </p>
        <p>
          {{ .Params.entry }}
        </p>
        <a
          class="button display-none"
          href="https://www.facebook.com/events/2084755461767868/"
          target="_blank"
          data-translatable>See the Facebook event // Voir l'événement Facebook</a>
        <span class="addtocalendar display-none atc-style-blue">
          <var class="atc_event">
            <var class="atc_date_start">2017-09-30 11:00:00</var>
            <var class="atc_date_end">2017-09-30 20:00:00</var>
            <var class="atc_timezone">America/Toronto</var>
            <var class="atc_title">Pin Patch Mtl Fair Spring 2018 edition</var>
            <var class="atc_description"
              >Montreal’s first enamel pin and patch creators fair</var>
            <var class="atc_location"
              >La Gare, 5333 Avenue Casgrain #102, Montréal, Qc, Canada</var>
            <var class="atc_organizer">Manière Noire</var>
            <var class="atc_organizer_email">reach@manierenoireshop.com</var>
          </var>
        </span>
      </div>
      <div class="flex-1 medium-padding-left">
        <h3 class="no-margin blue">
          {{ .Params.description }}
        </h3>
      </div>
    </div>
  </div>
</section>

<div class="big-padding-bottom display-none">
  <div class="wrap flex-row">
    <div class="flex-1">
      <div class="top-sponsors flex-row">
        <div class="item flex-1">
          <p data-translatable>Organized by // Organisé par</p>
          <a href="https://manierenoireshop.com/" target="_blank"><img src="./img/maniere-noire.png"/></a>
        </div>
        <div class="item flex-1">
          <p data-translatable>Presented by // Présenté par</p>
          <a href="https://annexvintage.com/" target="_blank"><img src="./img/annex.svg"/></a>
        </div>
      </div>
    </div>
    <div class="flex-1 bar-top concours">
      <h2 class="blue bold" data-translatable>
        <span>Contest!</span><span>Concours!</span>
      </h2>
      <h3 data-translatable class="no-margin blue">
        <span>Get a chance to win a jean jacket covered in pins and patches
          designed by the artists present.</span><span
          >Courrez la chance de gagner une veste en jeans couverte de pins et
          patches créées par les artistes présents</span>
      </h3>
    </div>
  </div>
</div>

<div class="display-none">{{ partial "featured_artists" . }}</div>
<div class="wrap big-padding-bottom text-center display-none">
  <a class="button bigger" href="/artists" data-translatable>See all artists // Voir tous les artistes</a>
</div>
<div class="wrap big-padding-bottom text-center display-none">
  <img src="./img/illustrator-banner-site.jpg" />
  <a class="button bigger" href="/apply-illustrators" data-translatable>Apply to illustrate the next edition // Appliquez pour illustrer la
    prochaine edition</a>
</div>

<section class="content big-padding-top big-padding-bottom">
  <div class="big-wrap">
    <div class="event-photos flex-row">
      <div class="flex-1 photo tilt-left">
        <img src="./img/event-2018-1.png" />
      </div>
      <div class="flex-1 photo tilt-right">
        <img src="./img/event-2018-5.png" />
      </div>
      <div class="flex-1 photo tilt-left">
        <img src="./img/event-2018-2.png" />
      </div>
    </div>
    <div class="photo-credit">
      {{ .Params.photosBy }} <a href="https://elodielepape.com/photographie/">Élodie Lepape</a>
    </div>
  </div>
</section>

<section class="content big-padding-top big-padding-bottom">
  <div class="wrap">
    <h1 class='blue medium-padding-bottom'>{{ .Params.whatTitle }}</h1>
    <div class="flex-row">
      <div class="flex-1 small-padding-right">
        <h2>
          {{ .Params.pinsSubtitle }}
        </h2>
        <p>
        {{ .Params.pinsText }}
        </p>
      </div>
      <div class="flex-1 small-padding-left">
        <h2>
          {{ .Params.patchSubtitle }}
        </h2>
        <p>
        {{ .Params.patchText }}
        </p>
      </div>
    </div>
    <p class="medium-padding-top">
      {{ .Params.whatText }}
    </p>
  </div>
</section>

<section class="content big-padding-top big-padding-bottom">
  <div class="big-wrap">
    <div class="event-photos flex-row">
      <div class="flex-1 photo tilt-left"><img src="./img/event-2018-4.png" /></div>
      <div class="flex-1 photo tilt-right"><img src="./img/event-2018-3.png" /></div>
      <div class="flex-1 photo tilt-left"><img src="./img/event-2018-6.png" /></div>
    </div>
  </div>
</section>

{{ partial "newsletter" . }}
{{ partial "instafeed" . }}
{{ partial "footer" . }}
