{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->

    {{ partial "pincta" . }}
    {{ partial "applicationscta" . }}
    {{ partial "logoheader" . }}

    <section class="content medium-padding-bottom medium-padding-top">
      <div class='wrap mission'>
          <h1 data-translatable class="blue medium-padding-bottom bar-top bar-bottom medium-margin-bottom">
            <span>The first Pin and Patch fair in Montreal</span>
            <span>La première foire d'épinglettes et de patches à Montréal</span>
          </h1>
          <div class="flex-row bar-bottom">
            <div class="flex-1">
              <h3 data-translatable class="date-main blue">
                <span>May 19, 2018 at la Gare</span>
                <span>19 mai 2018 à la Gare</span>
              </h3>
              <p data-translatable class="medium-margin-bottom place-main">
                <span>5333 Casgrain Avenue #102, Montreal</span>
                <span>5333 Avenue Casgrain #102, Montréal</span>
              </p>
              <p data-translatable>
                <span>Free entry</span><span>Entrée gratuite</span>
              </p>
              <a class="button display-none" href="https://www.facebook.com/events/1908109882792449/" target="_blank" data-translatable>See the Facebook event // Voir l'événement Facebook</a>
             <span class="addtocalendar atc-style-blue">
                <var class="atc_event">
                    <var class="atc_date_start">2017-09-30 11:00:00</var>
                    <var class="atc_date_end">2017-09-30 20:00:00</var>
                    <var class="atc_timezone">America/Toronto</var>
                    <var class="atc_title">Pin Patch Mtl Fair Spring 2018 edition</var>
                    <var class="atc_description">Montreal’s first enamel pin and patch creators fair</var>
                    <var class="atc_location">La Gare, 5333 Avenue Casgrain #102, Montréal, Qc, Canada</var>
                    <var class="atc_organizer">Manière Noire</var>
                    <var class="atc_organizer_email">reach@manierenoireshop.com</var>
                </var>
            </span>
            </div>
            <div class="flex-1 medium-padding-left">
              <h3 data-translatable class="no-margin blue">
                <span>Come start a new pin or patch collection (or grow your actual one) and support local artists from Montreal and Toronto at the second edition of Pin Patch Mtl</span><span>Venez commencer une nouvelle collection de pins ou de patches (ou en continuer une) et montrer votre support aux artistes locaux de Montréal et Toronto à la deuxième édition de Pin Patch Mtl</span>
              </h3>
            </div>
          </div>
      </div>
    </section>

    <div class="top-sponsors big-padding-bottom">
      <div class="wrap flex-row">
        <div class="item flex-1">
          <p data-translatable>
            Organized by // Organisé par
          </p>
          <a href="https://manierenoireshop.com/" target="_blank"><img src="./img/maniere-noire.png"/></a>
        </div>
      </div>
    </div>

    {{ partial "featured_artists" . }}
    <div class="wrap big-padding-bottom">
      <a class="button bigger" href="/artists" data-translatable>See all artists // Voir tous les artistes</a>
    </div>
    <a name="buy-pin"></a>
    {{ partial "pinpreorder" . }}

    <section class="content big-padding-bottom">
      <div class="event-photos flex-row">
        <div class="flex-1 photo">
          <img src="./img/photo-event-4.jpg" />
        </div>
        <div class="flex-1 photo">
          <img src="./img/event-photo-3.jpg" />
        </div>
        <div class="flex-1 photo">
          <img src="./img/photo-event-6.jpg" />
        </div>
      </div>
    </section>

    <section class="content big-padding-top big-padding-bottom">
      <div class="wrap">
        <h1 data-translatable class="blue medium-padding-bottom">
          <span>Pins?</span>
          <span>Épinglettes?</span>
        </h1>
        <div class="flex-row">
          <p data-translatable class="flex-1 small-padding-right">
            <span>What are enamel pins? They are seen a lot on Instagram, but not enough on the streets of Montreal. They are fashionable, affordable and collectable accessories immortalizing an artist’s design and/or a pop culture element. They can be visual puns, intricate illustrations, feminist statements or whatever you want, really! Patches are pretty similar in their form and function but more well known to the public. Each has it’s own possibilities.</span>
            <span>C’est quoi une épinglette? On les voit partout sur Instagram, mais très peu encore dans les rues de Montréal. C’est un petit accessoire fashion immortalisant le design d’un artiste ou un élément de la culture populaire, un objet abordable qu’on adore collectionner. Elles peuvent représenter une blague, une illustration raffinée, un slogan féministe ou bien, à peu près tout ce que vous pourriez imaginer! Les patches, parfois appelée écussons, sont très similaires en forme et fonction, mais sont généralement plus connues du public. Les deux ont leur propres possibilités.</span>
          </p>
          <p data-translatable class="flex-1 small-padding-left">
            <span>There are pins and patches for every taste and interests. We dare say there’s at least 20 of them that are literally “made for you”. Once you start collecting, you’ll soon be addicted! They’re perfect for your jacket, shirt collar or simply for display in a nice frame.</span><span>Il y a des épinglettes et des patches pour tous les goûts et intérêts. On ose même dire qu’il doit en exister au moins 20 d’entres elles qui sont faites pour vous. Une fois qu’on commence une collection, on ne peut plus s’arrêter! Elles sont parfaites sur une veste, le collet de votre chemise ou bien simplement dans un joli cadre.</span>
          </p>
        </div>

      </div>
    </section>

    <section class="content big-padding-top big-padding-bottom">
      <div class="event-photos flex-row">
        <div class="flex-1 photo">
          <img src="./img/event-photo-2.jpg" />
        </div>
        <div class="flex-1 photo">
          <img src="./img/event-photo-1.jpg" />
        </div>
        <div class="flex-1 photo">
          <img src="./img/photo-event-5.jpg" />
        </div>
      </div>
    </section>

    {{ partial "newsletter" . }}

    {{ partial "instafeed" . }}


{{ partial "footer" . }}
