{{ partial "header" . }}
{{ partial "navbar" . }}
{{ partial "mobilemenu" . }}


    <!-- Press page content -->

    <section class="content big-padding-top">
      <div class="wrap big-padding-top big-padding-bottom">
        <div class="">
          <h1 data-translatable class="blue medium-padding-bottom">
            <span>Events</span>
            <span>Événements</span>
          </h1>
        </div>
      </div>
    </section>

    <section class="content big-padding-bottom medium-padding-top">
        <div class='wrap events'>
            <div class="flex-row flex-wrap events-container">
              {{ .Content }}
              {{ range .Data.Pages }}
                <div class="event flex-1">
                  <div class="img card light-grey-back" style="background-image: url('{{ .promo_img }}')"></div>
                  <div class="infos">
                    <h2 class="blue">{{ .name }}</h2>
                    <h3 class="blue" data-translatable>{{ .date }}</h3>
                    <hr />
                    <p class="blue">{{ .description }}</p>
                    <a class="button" data-translatable>See more // Voir plus</a>
                  </div>
                </div>
              {{ end }}
            </div>
        </div>
      </section>


    <!-- end Press page content -->

{{ partial "footer" . }}
