{{ partial "header" . }}
    {{ partial "navbar" . }}

    <!-- Shop page content -->

    <section class="content shop big-padding-top">
      <div class="big-wrap big-padding-top big-padding-bottom">
        <div class="">
          <h1 data-translatable class="blue medium-padding-bottom">
            <span>Shop</span>
            <span>Boutique</span>
          </h1>
        </div>
      </div>
    </section>

    {{ partial "products" . }}

    <!-- end Shop page content -->

{{ partial "footer" . }}
