{{ partial "header" . }}
    {{ partial "navbar" . }}

    <!-- Apply page content -->

    {{ partial "logoheader" . }}

    <section class="content big-padding-top big-padding-bottom">
      <div class="wrap">
        <div class="big-padding-top flex-row">

          <div class="flex-1 medium-padding-right">
            <h1 data-translatable class="medium-margin-bottom blue bar-top">Apply as an illustrator for the 2019 edition // Appliquer comme illustrateur(trice) pour l'édition 2019</h1>
            <h3 data-translatable class="medium-margin-bottom blue">We are looking for an illustrator to contribute to the visual of Pin Patch Mtl // Nous recherchons un(e) illustrateur(trice) afin de contribuer au visuel de Pin Patch Mtl</h3>
            <p data-translatable>
              <span>As for our previous editions, we play with our visual identity and complement it with little illustrations that represents Montreal and the pin & patch community.</span>
              <span>Comme pour les éditions précédentes, nous aimons jouer avec notre identité visuelle et la complémenter de petites illustrations représentant Montréal et la communauté des pins et des patches.</span>
            </p>
            <p data-translatable>
              <span>We invite you to submit a portfolio to get a chance to be part of Pin Patch Mtl. This is a paid job and we will produce a limited edition pin from one of the illustrations. The profits coming from the sale of this pin will go to the selected artist and towards funding the event.</span>
              <span>Nous vous invitons à soumettre votre portfolio si le projet vous intéresse afin d'avoir la chance dde faire partie de Pin Patch Mtl. Ce mandat sera rémunéré et nous produiront une épinglette en édition limitée à partir d'une des illustrations. Les profits de la vente de celle-ci reviendrons à l'artiste sélectionné(e) ainsi qu'au financement de l'événement.</span>
            </p>
            <p data-translatable>
              <span><strong>You have until December 24th to apply</strong>, the selected illustrator will be contacted by email at the beginning of January.</span>
              <span><strong>Vous avez jusqu'au 24 décembre pour appliquer</strong>, l'artiste sélectionné(e) sera contacté par courriel au début du mois de janvier.</span>
            </p>
          </div>

          <div class="flex-1">
            <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shr4sWUpBm5NfxKza?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="1379" style="background: transparent; border: 1px solid #ccc;"></iframe>
          </div>

        </div>
      </div>
    </section>

    <!-- end Apply page content -->

{{ partial "footer" . }}
