{{ partial "header" . }}
    {{ partial "navbar" . }}

    <!-- Press page content -->

    <section class="content big-padding-top">
      <div class="wrap big-padding-top big-padding-bottom">
        <div class="">
          <h1 data-translatable class="blue medium-padding-bottom">
            <span>Artists confirmed for Spring 2018 Edition</span>
            <span>Artistes confirmés pour l'édition printemps 2018</span>
          </h1>
        </div>
      </div>
    </section>

    {{ partial "featured_artists" . }}

    {{ partial "artists" . }}

    <section class="content medium-padding-bottom display-none">
      <div class="wrap">
        <h2 data-translatable class="blue text-center">
          <span>More to come!</span>
          <span>Plus à venir!</span>
        </h1>
      </div>
    </section>

    <!-- end Press page content -->

{{ partial "footer" . }}
