{{ partial "header" . }}
    {{ partial "navbar" . }}

    <!-- Press page content -->

    <section class="content big-padding-top">
      <div class="wrap big-padding-top big-padding-bottom">
        <div class="">
          <h1 class="blue medium-padding-bottom">
            <span>{{ .Params.title }}</span>
          </h1>
        </div>
      </div>
    </section>

    <section class="content big-padding-bottom">
      <div class="press-articles medium-padding-bottom">
        <div class="wrap">
          <div id="press-container" class="flex-row flex-wrap">
            {{ range $.Site.Data.press.articles }}
              {{ partial "pressarticle.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    <section class="content big-padding-bottom">
      <div class="press-kit big-padding-bottom">
        <div class="wrap">
          <a class="button bigger" href="https://l.messenger.com/l.php?u=https%3A%2F%2Fdrive.google.com%2Fopen%3Fid%3D1wKOv4LEoj3JjYpT8gmgWU8ZhOAv_SIY-&h=ATM7bqJr7_yWri9zY3Eoi-hjLYpoyvin7LmNZ6uVu-D-NufxxikesrCYW_bO0VjwJD5VP4neeM2OYAnbr8Gz8q4e4NdtMXhnCIzMDA6vV5l_x5y4iE8hQYSm0uU" target="blank" data-translatable>{{ .Params.cta }}</a>
        </div>
      </div>
    </section>

    <!-- end Press page content -->

{{ partial "footer" . }}
