{{ partial "header" . }}
    {{ partial "navbar" . }}

    <!-- Apply page content -->

    {{ partial "logoheader" . }}

    <section class="content big-padding-top">
      <div class="wrap">
        <div class="big-padding-top flex-row">

          <div class="flex-1 medium-padding-right">
            <h1 data-translatable class="medium-margin-bottom blue bar-top">Apply as an artist to the Spring 2018 edition // Appliquer comme artiste à l'édition printemps 2018</h1>
            <h3 data-translatable class="medium-margin-bottom blue">May 19, 2018 at la Gare, 5333 Casgrain Avenue #102, Montreal // 19 mai 2018 à la Gare, 5333 Avenue Casgrain #102, Montréal</h3>
            <p data-translatable>
              <span>You need to have at least a 2 pins and/or patches to sell that you designed yourself in order to be selected, resellers are not accepted.</span>
              <span>Vous devez avoir au moins 2 épinglettes et/ou patches à vendre que vous avez conçues vous-même afin d'être sélectionné, les revendeurs ne sont pas acceptés.</span>
            </p>
            <p data-translatable>
              <span>Applications are free, the price of the tables will range between 35$ and 60$ depending on their size.</span>
              <span>Les applications sont gratuites, le prix des tables varieras entre 35$ et 65$ selon la taille.</span>
            </p>
            <p data-translatable>
              <span>The final selection of artists will be made based on the quality, diversity and quantity of pins and patches proposed. <strong>You have until March 31th to apply</strong>, selected artists will be contacted by email at the beginning of april.</span>
              <span>La sélection finale sera faite en fonction de la qualité, la diversité et la quantité d'épinglettes et de patches proposées. <strong>Vous avez jusqu'au 31 mars pour appliquer</strong>, les artistes sélectionnés seront contactés par courriel au début du mois d'avril.</span>
            </p>
          </div>

          <div class="flex-1">
            <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrezh2hOgJu5qfp8?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="1371" style="background: transparent; border: 1px solid #ccc;"></iframe>
          </div>

        </div>
      </div>
    </div>

    <!-- end Apply page content -->

{{ partial "footer" . }}
