<div class="artist flex-1 {{ .years }}">
  <a href="{{ .shopurl }}" target="_blank">
    <div class="images hover-slider card light-grey-back">
    <div class="images-container not-loaded">
      <div class="img" id="image-1" style="background-image:url({{ .featured }});"></div>
      {{ with .image2 }}
        <div class="img" id="image-2" style="background-image:url({{ . }});"></div>
      {{ end }}
      {{ with .image3 }}
        <div class="img" id="image-3" style="background-image:url({{ . }});"></div>
      {{ end }}
    </div>
    <div class="indicator"></div>
  </div>
  </a>
  <div class="flex-row">
    <div class="flex-4">
      <a href="{{ .shopurl }}" target="_blank"> <h3>{{ .name }}</h3></a>
      <p><span data-translatable>{{ .Params.from }}</span> {{ .hometown}}</p>
    </div>
    <div class="flex-1 insta-link">
      <a class="instagram-artist" href="{{ .instagram }}" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
