<div class="artist flex-1 {{ range .Params.years }}pp-{{ . }} {{ end }}">
  <a href="{{ .Permalink }}">
    <div class="images hover-slider card light-grey-back">
    <div class="images-container not-loaded">
      <div class="img" id="image-1" style="background-image:url({{ .Params.featured }});"></div>
      {{ with .Params.image2 }}
        <div class="img" id="image-2" style="background-image:url({{ . }});"></div>
      {{ end }}
      {{ with .Params.image3 }}
        <div class="img" id="image-3" style="background-image:url({{ . }});"></div>
      {{ end }}
    </div>
    <div class="indicator"></div>
  </div>
  </a>
  <div class="flex-row">
    <div class="flex-4">
      <a href="{{ .Permalink }}"> <h3>{{ .Title }}</h3></a>
      <p><i class="fa fa-map-pin"></i> {{ .Params.hometown}}</p>
    </div>
    <div class="flex-1 insta-link">
      <a class="instagram-artist" href="{{ .Params.instagram }}" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
