<div class="featured-artist artist flex-1">
  <a href="{{ .shopurl }}" target="_blank">
    <div class="img card light-grey-back" style="background-image: url('/img/{{ .featured }}')"></div>
  </a>
  <div class="flex-row">
    <div class="flex-4">
      <a href="{{ .shopurl }}" target="_blank"> <h3>{{ .name }}</h3></a>
      <p><span data-translatable>from // de</span> {{ .hometown}}</p>
    </div>
    <div class="flex-1 insta-link">
      <a class="instagram-artist" href="{{ .instagram }}" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
